@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

main {
  /* padding-bottom: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 16px;
}

.titleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: "Audiowide";
  color: #0279b9;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  margin: 1.5rem;
}

.pokeball {
  width: 56px;
}

.pokeball:hover {
  animation: rotating 0.5s linear infinite;
  cursor: pointer;
}

.input-bar {
  display: flex;
  justify-content: center;
}

input {
  width: 15rem;
  height: 2rem;
  font-family: "Audiowide";
  color: #0279b9;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 24px;
  }
}
