/* body {
  position: relative;
} */

.modal {
  border: solid 3px;
  width: 80%;
  max-width: 780px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  border-radius: 1rem;
  font-family: Carter One;
  font-size: 24px;
  font-weight: 200;
  background: white;
  animation: appear 500ms ease-in;
  opacity: 1;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background: none;
}

.description {
  width: 50%;
  font-size: 20px;
  text-align: center;
}

.modalCross {
  width: 48px;
  align-self: flex-end;
  cursor: pointer;
  margin: 0.3rem;
}

hidden {
  display: none;
}
